$sdtet-schedule-text-shadow: -1px -1px 2px white, 1px -1px 2px white,
  -1px 1px 2px white, 1px 1px 2px white;

.sdtet-schedule-background {
  position: relative;
}

@mixin schedule-image-font {
  font-weight: 600;
  font-size: 32px;
  font-family: "Dancing Script";
}

@mixin schedule-background-image {
  position: absolute;
  z-index: 0;

  @media screen and (max-width: 959px) {
    display: none;
  }
}

.sdtet-schedule-image-1 {
  background-image: url(../../assets/LamAnh.png);
  background-size: contain;
  bottom: 45px;
  right: 100px;
  width: 200px;
  height: 250px;
  @include schedule-background-image;
  &:before {
    content: "Lam Anh";
    position: absolute;
    bottom: -40px;
    left: 40px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-2 {
  background-image: url("../../assets/AndyQuach.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 105%;
  @include schedule-background-image;
  bottom: 50px;
  right: 300px;
  width: 175px;
  height: 230px;
  &:before {
    content: "Andy Quach";
    position: absolute;
    bottom: -45px;
    left: 20px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-3 {
  background-image: url("../../assets/AiNi.png");
  background-repeat: no-repeat;
  background-position: center 10%;
  background-size: 170%;
  top: calc(22% + 5px);
  left: 430px;
  width: 200px;
  height: 300px;
  @include schedule-background-image;
  &:before {
    content: "Ai Ni";
    position: absolute;
    bottom: -45px;
    left: 80px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-4 {
  background-image: url("../../assets/HuynhPhiTien.png");
  background-repeat: no-repeat;
  background-position: center 5%;
  background-size: 100%;
  top: calc(62% + 5px);
  left: 550px;
  width: 230px;
  height: 200px;
  @include schedule-background-image;
  &:before {
    content: "Huynh Phi Tien";
    position: absolute;
    bottom: -45px;
    left: 27px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-5 {
  background-image: url("../../assets/stepupdance.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: -20px;
  left: 576px;
  width: 230px;
  height: 150px;
  @include schedule-background-image;
  &:before {
    content: "Step Up Dance";
    position: absolute;
    bottom: -30px;
    left: 50px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-6 {
  background-image: url("../../assets/GoldenVoice.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 60px;
  left: 650px;
  width: 250px;
  height: 150px;
  @include schedule-background-image;
  &:before {
    content: "Golden Voice";
    position: absolute;
    bottom: -50px;
    right: 50px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-7 {
  background-image: url("../../assets/black-leather-couch.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 130px;
  left: 500px;
  width: 280px;
  height: 170px;
  @include schedule-background-image;
  &:before {
    content: "Black Leather Couch";
    position: absolute;
    bottom: -50px;
    left: 31px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-8 {
  background-image: url("../../assets/pageant2020.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 50%;
  left: 440px;
  width: 300px;
  height: 150px;
  @include schedule-background-image;
  &:before {
    content: "MVSD Pageant";
    position: absolute;
    bottom: -40px;
    left: 31px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-9 {
  background-image: url("../../assets/KidsSpotlight.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 24%;
  left: 700px;
  width: 250px;
  height: 220px;
  @include schedule-background-image;
  &:before {
    content: "Kids Got Talent";
    position: absolute;
    bottom: 0px;
    left: 40px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-10 {
  background-image: url("../../assets/tiger-firecracker.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 30px;
  left: 450px;
  width: 250px;
  height: 290px;
  @include schedule-background-image;
}

.sdtet-schedule-image-11 {
  background-image: url("../../assets/Twinne.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 30px;
  left: 480px;
  width: 100px;
  height: 100px;
  @include schedule-background-image;
  &:before {
    content: "Twinne";
    position: absolute;
    bottom: -40px;
    left: 10px;
    @include schedule-image-font;
  }
}

.sdtet-schedule-image-12 {
  background-image: url("../../assets/kid-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  top: 300px;
  left: 750px;
  width: 250px;
  height: 290px;
  @include schedule-background-image;
}

.sdtet-schedule-container {
  text-align: center;
  //height: 1700px;
  @media screen and (max-width: 960px) {
    height: auto;
  }
}

.sdtet-schedule-divider {
  border-bottom: 2px solid red;
}

.sdtet-schedule-spacer {
  height: 50px;
  flex: 1 1 100%;
}

.sdtet-schedule-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-right: 15px;
  z-index: 4;
  position: relative;
  width: 100%;
  max-width: 1300px;
  left: calc(50% - 650px);
  align-items: center;
  text-shadow: $sdtet-schedule-text-shadow;

  @media screen and (max-width: 1279px) {
    position: static;
  }
}

.sdtet-schedule-divider {
  flex: 1 1 100%;
}

// @supports (display:grid){
// 	.sdtet-schedule-grid{
// 		display: grid !important;
// 		grid-template-columns: 400px 200px 400px;
// 		grid-gap: 10px;
// 	}
// 	.sdtet-schedule-spacer{
// 		grid-column-start: 1;
// 		grid-column-end: 4;
// 	}
// 	.sdtet-schedule-divider{
// 		grid-column-start: 1;
// 		grid-column-end: 4;
// 	}
// }
.sdtet-schedule-title {
  font-size: 2rem;
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  align-self: flex-end;
}

@media screen and (max-width: 500px) {
  .sdtet-schedule-title {
    font-size: 1.25em;
  }
}

@media screen and (max-width: 400px) {
  .sdtet-schedule-title {
    font-size: 1.3em;
  }

  .sdtet-schedule-date {
    font-size: 1em;
  }
}

.sdtet-schedule-date,
.sdtet-schedule-main-stage,
.sdtet-schedule-cultural-village {
  align-self: center;
}

.sdtet-schedule-date {
  font-weight: 600;
}

.sdtet-schedule-main-stage {
  text-align: right;
}

.sdtet-schedule-cultural-village {
  text-align: left;
}
