.sdtet-directions-container {
  background-color: white;
  padding-top: 1px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.sdtet-directions-map-container {
  margin: 10px 20px 10px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  @media screen and (max-width: 599px) {
    display: none;
  }
}

.sdtet-directions-text {
  margin: 10px 10px 10px 20px;
  display: inline-block;
  text-align: left;
}

.sdtet-directions-text-bold {
  font-weight: 600;
}
